:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #213547;
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    background: white;
}

h1, h2, h3 {
    text-align: center;
    width: 100%;
    margin: 10px 0; 
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}